{% extends 'TwitterFunc/base.html' %}

{% block content %}

    <div class="text-center">
        <h2 style="margin-top: 20mm; margin-bottom: 15mm;">
            <strong>Twitterへようこそ！</strong>
        </h2>
            <a class="btn btn-primary ripple-surface" data-mdb-ripple-color="dark" style="min-width: 512px; margin-top: 10mm;" href="{% url 'register' %}" style="min-width: 516px; margin-top: 10mm;" role="button">
                登録
            </a>
            <br>
            <a class="btn btn-primary ripple-surface" data-mdb-ripple-color="dark" style="min-width: 512px; margin-top: 10mm;" href="{% url 'login' %}"  style="min-width: 516px; margin-top: 10mm;" role="button">
                ログイン
            </a>
        </div>

    </div>

{% endblock %}
