{% extends 'account/base.html' %}

{% block content %}

<div class="d-flex justify-content-center">
  <div class="col-md-5">
    <div class="card text-center">
      <div class="card-body">
        <a class="link-dark .justify-content-center" href="{% url 'account:account_detail' account.pk %}">{{ account.username }}</a>
        <p></p>
          {% if account != user %}
            <input type="hidden" name="hidden_data" value="">
            {% if follow_flg %}
              <form action="{% url 'account:unfollow' account.pk %}" method="post">
                {% csrf_token %}
                <button type="submit" name="unfollow_button" class="btn btn-danger btn-rounded">フォロー解除</button>
            {% else %}
              <form action="{% url 'account:follow' account.pk %}" method="post">
                {% csrf_token %}
                <button name="follow_button" class="btn btn-primary btn-rounded">フォロー</button>
            {% endif %}
          {% endif %}
        </form>
        <a class="link-dark .justify-content-center" href="{% url 'account:followings' account.pk %}">フォロー中：{{ followee_num }}</a>
        <a class="link-dark .justify-content-center" href="{% url 'account:followers' account.pk %}">フォロワー：{{ follower_num }}</a>
        <p></p>
        <div class="break-word">
          <p class="card-text">{{ profile | linebreaksbr }}</p>
        </div>
      </div>
    </div>
    <ul class="nav nav-tabs nav-fill mb-3" id="ex1" role="tablist">
      <li class="nav-item" role="presentation">
        <a
          class="nav-link active"
          id="ex1-tab-1"
          data-mdb-toggle="tab"
          href="#ex1-tabs-1"
          role="tab"
          aria-controls="ex1-tabs-1"
          aria-selected="true"
          >ツイート</a
        >
      </li>
      <li class="nav-item" role="presentation">
        <a
          class="nav-link"
          id="ex1-tab-2"
          data-mdb-toggle="tab"
          href="#ex1-tabs-2"
          role="tab"
          aria-controls="ex1-tabs-2"
          aria-selected="false"
          >いいね</a
        >
      </li>
    </ul>

    <div class="tab-content" id="ex1-content">
      <div class="tab-pane fade show active" id="ex1-tabs-1" role="tabpanel" aria-labelledby="ex1-tab-1">
        {% for tweet in tweet_list %}
          <p></p>
          <div class="card">
            <div class="card-body">
              <a class="link-dark" href="{% url 'account:account_detail' tweet.user.pk %}">{{ tweet.user }}</a>
              <div class="break-word">
                <p class="card-text">{{ tweet.content | linebreaksbr }}</p>
              </div>
              <div align="right">
                <a type="button" class="btn btn-outline-primary" "text-end" data-mdb-ripple-color="dark" href="{% url 'tweet:tweet_detail' tweet.pk%}">
                  詳細
                </a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="tab-pane fade" id="ex1-tabs-2" role="tabpanel" aria-labelledby="ex1-tab-2">
        {% for favorite_connection in favorite_connection_list %}
          <p></p>
          <div class="card">
            <div class="card-body">
              <a class="link-dark" href="{% url 'account:account_detail' favorite_connection.favorited.user.pk %}">{{ favorite_connection.favorited.user }}</a>
              <div class="break-word">
                <p class="card-text">{{ favorite_connection.favorited.content | linebreaksbr }}</p>
              </div>
              <div align="right">
                <a type="button" class="btn btn-outline-primary" "text-end" data-mdb-ripple-color="dark" href="{% url 'tweet:tweet_detail' favorite_connection.favorited.pk%}">
                  詳細
                </a>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
