{% extends 'account/base.html' %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-5">
      <p></p>
      <div class="card">
        <div class="card-body">
          <a class="link-dark" href="{% url 'account:account_detail' user.pk %}">{{ user.username }}</a>
          <div class="break-word">
            <p class="card-text">{{ profile | linebreaksbr }}</p>
          </div>
        </div>
      </div>
      <p></p>
      <form method="post">
        {% csrf_token %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
        <div class="form-outline mb-5">
          {% for field in form %}
            <p>{{ field.label_tag }}</p>
            <p>{{ field }}</p>
          {% endfor %}
        </div>
        <div class="form-send">
          <button type="submit" name="tweet_button" class="btn btn-primary btn-block mb-5">ツイート</button>
        </div>
      </form>
    </div>
    <div class="col-md-5">
      {% for tweet in tweet_list %}
        <p></p>
        <div class="card">
          <div class="card-body">
            <a class="link-dark" href="{% url 'account:account_detail' tweet.user.pk %}">{{ tweet.user }}</a>
            <div class="break-word">
              <p class="card-text">{{ tweet.content | linebreaksbr }}</p>
            </div>
            <div align="left">
              {% if tweet.pk in favorited_tweet_id_list %}
                <button id="favorite_button" data-is-liked="true" class="btn btn-danger btn-rounded" name="{{ tweet.pk }}">いいね解除</button>
              {% else %}
                <button id="favorite_button" data-is-liked="false" class="btn btn-primary btn-rounded" name="{{ tweet.pk }}">いいね</button>
              {% endif %}
            </div>
            <div align="right">
              <a type="button" class="btn btn-outline-primary" "text-end" data-mdb-ripple-color="dark" href="{% url 'tweet:tweet_detail' tweet.pk %}">
                詳細
              </a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="col-md-2" "row d-flex justify-content-end">
      <p></p>
      <a href="{% url 'account:edit_profile' %}">プロフィール編集</a>
      <p></p>
      <a href="{% url 'account:logout' %}">ログアウト</a>
    </div>
  </div>  
</div>

<script>
  const getCookie = name =>{
      if (document.cookie && document.cookie !== '') {
          for (const cookie of document.cookie.split(';')){
              const [key, value] = cookie.trim().split('=');
              if(key === name) {
                  return decodeURIComponent(value);
              }
          }
      }
  };

  const csrftoken = getCookie('csrftoken');

  $(document).on("click", "#favorite_button", function() {
    if ($(this).attr('data-is-liked') == 'false') {
      url = "{% url 'tweet:favorite_tweet' 0 %}".replace("0", $(this).attr('name'));
    }
    else {
      url = "{% url 'tweet:unfavorite_tweet' 0 %}".replace("0", $(this).attr('name'));
    }
    console.log(url);
    fetch(url, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/x-www-form-urlencoded; charset=utf-8',
        'X-CSRFToken': csrftoken,
      },
    })
    .then(response => {
      const selector_button = $(this);
      if ($(selector_button).attr('data-is-liked') == 'false') {
        $(selector_button).attr('data-is-liked', 'true');
        $(selector_button).toggleClass("btn-primary btn-danger");
        $(selector_button).html("いいね解除");
      }
      else {
        $(selector_button).attr('data-is-liked', 'false');
        $(selector_button).toggleClass("btn-primary btn-danger");
        $(selector_button).html("いいね");
      }
    }).catch(error => {
      console.log(error);
    });
  });
</script>

{% endblock %}
