{% extends 'account/base.html' %}

{% block content %}
    <div class="text-center">
        <h2 style="margin-top: 20mm; margin-bottom: 15mm;">
            <strong>ログイン</strong>
        </h2>

        <form method="post">
            {% csrf_token %}
            {{ form.non_field_errors }}
            {% for field in form %}
                <p>{{ field.label_tag }}</p>
                <p>{{ field }}</p>
                <p>{{ field.errors }}</p>
            {% endfor %}

            <div class="form-send">
                <button type="submit" class="btn btn-primary ripple-surface" style="min-width: 94px;">ログイン</button>
            </div>
            <a class="btn btn-link ripple-surface ripple-surface-dark" data-mdb-ripple-color="dark" style="min-width: 74px; margin-top: 10mm;" href="{% url 'account:start' %}" role="button">
                戻る
            </a>
        </form>
    </div>
{% endblock %}
