{% extends 'account/base.html' %}

{% block content %}
    <div class="text-center">
        <h2 style="margin-top: 20mm; margin-bottom: 15mm;">
            <strong>ログイン</strong>
        </h2>

        <form method="post">
            {% csrf_token %}
            {% for field in form %}
                {{ field.label_tag }}<br>
                {{ field }}<br>
            {% endfor %}
            {% for error in form.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
            <div class="form-send">
                <button type="submit" class="btn btn-primary ripple-surface" style="min-width: 94px;">ログイン</button>
            </div>
            <a class="btn btn-link ripple-surface ripple-surface-dark" data-mdb-ripple-color="dark" style="min-width: 74px; margin-top: 10mm;" href="{% url 'account:start' %}" role="button">
                戻る
            </a>
        </form>
    </div>
{% endblock %}
